<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Data Quality Tool</title>

        <!-- Bootstrap core CSS -->
        <link href="/static/vendor/bootstrap/css/bootstrap.min.css"
	      rel="stylesheet"
	      nonce={{ PP_NONCE }}>
        <link rel="shortcut icon" href="/static/img/favicon-dbx.ico">

        <!-- Custom fonts for this template old integrity="sha256-x+ph1L7JkovNt3lBdA/YR/qIiz1imJqqzbfph/j9Sq8=" -->
        <link href="/static/vendor/fontawesome-free/css/all.min.css"
	      rel="stylesheet"
	      nonce={{ PP_NONCE }}>

        <link href="https://fonts.googleapis.com/css?family=Varela+Round"
              rel="stylesheet"
              integrity="sha384-JvWmNTDGqp+7p1qKkiJ2i+ouYGUlnf9fgJyWC2qvO8+ny3mWvgtPchBHbXXPS6gY"
              crossorigin="anonymous"
              nonce={{ PP_NONCE }}>

        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet"
              integrity="sha384-lHqhcSMP3oN1FbXUubtt9dp0JLEUDli10NzEn5Mhw1PFSp9DR/Cr67gD25rSXtPh"
              crossorigin="anonymous"
              nonce={{ PP_NONCE }}>

        <!-- Custom styles for this template -->
        <link href="/static/css/grayscale.min.css"
	      rel="stylesheet"
	      nonce={{ PP_NONCE }}>
        <link href="/static/css/new_dq.css"
	      rel="stylesheet"
	      nonce={{ PP_NONCE }}>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg fixed-top bg-secondary" id="mainNav">
            <div class="container-fluid">
              <a class="navbar-brand js-scroll-trigger">Data Science and Engineering</a>
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                      aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger h5" href="{{url_for('index')}}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger h5" href="{{url_for('dq_rules')}}">DQ Rules</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger h5" href="{{url_for('dashboard')}}">Dashboard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger h5" href="{{url_for('metric_monitoring')}}">Metric Monitoring</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    </head>

    <body id="page-top">
        <br><br><br><br>
        <div class="container">
            <br><br>
            <h2 class="text-black-100 mb-5"> Data Quality Rule </h2>
            {% for mess in get_flashed_messages()  %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
                <span aria-hidden="true">&times;</span>
                </button>
                {{mess}}
                </div>
            {% endfor %}

            <form class="form form-horizontal need-validation" id="dat_rule_form" method="POST"  role="form" novalidate>
                {# This hidden_tag is a CSRF security feature. #}
                {{ form.csrf_token }}

                {{form.data_rule_id (id="data_rule_id")}}
                <small id="rule_name_help" class="form-text text-muted"> Please use format  schema name - table name - type of validation for easy reference and search.</small>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text spanWidth" id="data_rule_text"> <strong> Data Rule Name:</strong></span>
                  </div>
                    {{form.data_rule_name(class="form-control text-monospace", id="data_rule_name", placeholder="Schema name - Table name - Type of validation")}}
                    <div class="invalid-feedback"> Please enter a data rule name </div>
                </div>

                <br>
                <small id="rule_type_help" class="form-text text-muted"> Custom validation to check metric is within threshold; Metric monitoring to check metric changes are within two standard deviation and time series prediction. </small>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text spanWidth" id="data_rule_type"><strong>Data Rule Type:</strong></span>
                  </div>
                    {{form.rule_type(class="form-control text-monospace", id='data_rule_select')}}
                </div>

                <br>
                <small id="database_type_help" class="form-text text-muted"> Database type can be Snowflake or Hive. Hive features are alpha version </small>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text spanWidth" id="database_name"><strong>Database Type:</strong></span>
                  </div>
                    {{form.database_type(class="form-control text-monospace", id="database_type_select")}}
                </div>

                <br>
                <small id="database_name_help" class="form-text text-muted"> Snowflake production database name.</small>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text spanWidth" id="database_name"><strong>Database name:</strong></span>
                  </div>
                    {{form.database_name(class="form-control text-monospace", id="database_select")}}
                </div>

                <br>
                <small id="schema_name_help" class="form-text text-muted"> Snowflake production schemas name. Only the schema names for selected database are listed.</small>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text spanWidth" id="schema_name"><strong>Schema name:</strong></span>
                  </div>
                    {{form.schema_name(class="form-control text-monospace", id="schema_select")}}
                </div>

                <br>
                <small id="table_name_help" class="form-text text-muted"> Snowflake production table name. Only the table names for selected database are listed. </small>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text spanWidth" id="table_name"><strong>Table/View name:</strong></span>
                  </div>
                    {{form.table_name(class="form-control text-monospace", id="table_select")}}
                </div>

                <br>
                <small id="validation_query_help" class="form-text text-muted"> The output of the validation query needs to be one row with max of 10 columns.
                        First column is for metric value which is compared with threshold. Other columns can be used in the validation message.
                        Alias each column name as col1, col2 upto col10 so these values can be used in the validation message.
                <br> For metric monitoring, please include 'current_date()' in where clause. This is required for back-filling the metric for past 60 days.
                </small>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text spanWidth" id="validation_query"><strong>Validation Query:</strong></span>
                  </div>
                    {{form.validation_query(class="form-control", rows="8", id="validation_query_text")}}
                <div class="invalid-feedback" id="validation_query_feedback"> Please enter a validation query </div>
                </div>

                <br>
                <small id="threshold_help" class="form-text text-muted"> Threshold is the maximum tolerance of the metric value.
                <br> For custom validation, if the metric value greater than threshold then it is reported as failure.
                <br> For metric monitoring, threshold is the expected variance between current output value from validation query and historical values.
                </small>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text spanWidth" id="threshold"><strong>Threshold:</strong></span>
                  </div>
                    {{form.comparison(class="form-control text-monospace field-width", id="comparison_text")}}
                    {{form.threshold(class="form-control text-monospace", id="threshold_text")}}
                    <div class="invalid-feedback" id="threshold_feedback"> Please enter a threshold </div>
                </div>

                <br>
                <small id="validation_message_help" class="form-text text-muted"> A customized validation message which will be send in the alert message. Please include any action to be taken.
                <br>Available macros: {database_name}, {schema_name}, {table_name}, {rule_name}, {data_rule_type}, {threshold}, {sla_period}, {col1}, {col2} upto {col10}
                </small>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text spanWidth" id="validation_message"><strong>Validation message:</strong></span>
                  </div>
                    {{form.notification_message(class="form-control", rows="8", id="notification_message_text" )}}
                  <div class="invalid-feedback" id="notification_message_feedback"> Please enter a validation message </div>
                </div>

                <br>
                <small id="sla_period_help" class="form-text text-muted"> For latency check, execute the rule at SLA time for the table.</small>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text spanWidth" id="sla_period"><strong>Execution time: </strong></span>
                  </div>
                    {{form.sla_time_window(class="form-control text-monospace", id="sla_time_text")}}
                </div>

                <br>
                <small id="priority_help" class="form-text text-muted"> Set the priority for this alert.</small>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text spanWidth" id="priority"><strong>Priority: </strong></span>
                  </div>
                    {{form.priority(class="form-control text-monospace", id="priority_text")}}
                </div>

                <br>
                <small id="dri_email_help" class="form-text text-muted"> Person responsible for resolving this issue. </small>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text spanWidth" id="dri_email"><strong>DRI email:</strong> </span>
                    </div>
                    {{form.dri_email(class="form-control text-monospace", id='dri_email_text')}}
                    <span class="input-group-text spanWidth" id="basic-addon2">@dropbox.com</span>
                    <div class="invalid-feedback" id="email_feedback"> Please enter the DRI email </div>
                </div>

                <br>
                <small id="email_notify_help" class="form-text text-muted"> Email to notify in case of validation failures.</small>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text spanWidth" id="email_notify"><strong>Email to notify:</strong> </span>
                    </div>
                    {{form.notification_email(class="form-control text-monospace", id='email_notify_text')}}
                    <span class="input-group-text spanWidth" id="basic-addon2">@dropbox.com</span>
                    <div class="invalid-feedback" id="email_feedback"> Please enter a notification email address </div>
                </div>

                <br>
                <small id="slack_channel_help" class="form-text text-muted"> (optional) slack channel to notify the alerts. </small>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text spanWidth" id="slack_channel"><strong>Slack channel:</strong> </span>
                    </div>
                    {{form.slack_channel(class="form-control text-monospace", id='email_notify_text')}}
                    <div class="invalid-feedback" id="slack_channel_feedback"> Please enter a valid slack channel </div>
                </div>

                <br>
                <small id="backfill_data_help" class="form-text text-muted"> To create or wipe-and-rerun the historical data set backfill to 'Yes'. This is useful for anomaly detection and metric monitoring. </small>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text spanWidth" id="backfill_data"><strong>Backfill data:</strong> </span>
                  </div>
                    {{form.backfill_data(class="form-control text-monospace", id='backfill_data_text')}}
                </div>

                <br>
                <small id="backfill_query_help" class="form-text text-muted"> Machine learning models requires historical data to detect anomalies.
                Backfill query needs to return the metric value for past 360 days to detect the seasonality.
                </small>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text spanWidth" id="backfill_query"><strong>Backfill Query:</strong> </span>
                  </div>
                    {{form.backfill_query(class="form-control", rows="8",id='backfill_query_text')}}
                </div>

                <br>
                <small id="active_help" class="form-text text-muted"> To execute the alert, set active to yes. </small>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text spanWidth" id="enabled"><strong>Active:</strong> </span>
                  </div>
                    {{form.active(class="form-control text-monospace", id='active_text')}}
                </div>


                <br><br>

                <div class="container">
                  <div class="row">
                    <div class="col text-center">
                      {{ form.submit(class="btn btn-success btn-lg") }}
                  </div>
                  </div>
                </div>
                <br><br>

                <div class="form-group row">
                </div>
                <br><br>
            </form>

            {% if form.rule_type.data == 'Metric anomaly detection' %}
                <div class='tableauPlaceholder container'>
                    <object class='tableauViz' width='1000' height='827'>
                        <param name='host_url' value='https%3A%2F%2Ftableau-dbx.corp.dropbox.com%2F' />
                        <param name='embed_code_version' value='3' />
                        <param name='site_root' value='' />
                        <param name='name' value='metric_monitoring_rule&#47;MetricMonitoringbyRule' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='showAppBanner' value='false' />
                        <param name='filter' value='iframeSizedToWindow=true' />
                        <param name='filter' value='rule_id={{ form.data_rule_id.data }}' />
                        <param name='filter' value='Threshold={{ form.threshold.data }}' />
                    </object>
                </div>
            {% endif %}

            {% if form.errors %}
            {{ form.errors }}
            {% endif %}
        </div>

        <!-- Footer -->
        <footer class=" small text-center text-white-50">
        <div class="container">
          Copyright &copy; Dropbox 2020
        </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
                integrity="sha384-UM1JrZIpBwVf5jj9dTKVvGiiZPZTLVoq4sfdvIe9SBumsvCuv6AHDNtEiIb5h1kU"
                crossorigin="anonymous"
                nonce={{ PP_NONCE }}></script>
        <script type="text/javascript" src="/static/js/new_dq.js" nonce={{ PP_NONCE }}></script>
        <script type='text/javascript' src='/static/js/tableau_viz_v1.js' nonce={{ PP_NONCE }}></script>

    </body>
</html>
